<!DOCTYPE html>
<html>
<head>
  <title>Singlelogin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
<!--
  <script src="/assets/aes-ctr.js" type="text/javascript"></script>
  <script src="/assets/utf8.js" type="text/javascript"></script>
  <script src="/assets/base64.js" type="text/javascript"></script>
-->

  <%= csrf_meta_tags %>
</head>
<body>

  <p><%= notice %></p>
  <p><%= alert %></p>
  <%= yield %>

</body>
</html>
